.footer {
	//width: 1141px;
	width: 80vw;
	height: 92px;
	margin-left: 10vw;

	p {
		text-align: center;
	}

	.div__container {
		width: 100%;
		// height: 75%;
		display: flex;

		.container__image {
			width: 16.67%;
			// height: 100%;
			border: 1px solid rgb(183, 180, 180);
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}