.footer {
	width: 80vw;
	height: 92px;
	margin-left: 10vw;
	margin-bottom: 3%;

	p {
		text-align: center;
	}

	.div__container {
		width: 100%;
		display: flex;

		.container__image {
			width: 16.67%;
			border: 1px solid rgb(183, 180, 180);
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 12px;
		}
	}

		 
}

.modalActive {
	opacity: 0.2;
	pointer-events: none;
}
@media (max-width: 768px) {
	
.footer {

	.div__container {
		flex-direction: column;

		.container__image {
			width: 100%;
			padding: 12px;
		}
	}
}
		
	
}