.containerGalery{
	width: 100%;
	padding-top: 5%;
	padding-bottom: 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.subContainer {
	width: 65%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 2%;
}

.containerGaleryResponsive{
	display: none;
}

.modalActive {
	opacity: 0.2;
	pointer-events: none;
}

@media (max-width: 768px) {
	.containerGalery{
		display: none;
	}
	.containerGaleryResponsive{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		margin-top:5%;
		
		.containerCard{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 50%;
		}

		img {
				width: 200px;
				height: 220px;
				flex-shrink: 0;
			}

		.containerText{
			margin-bottom: 10%;
		}

		.title{
			font-size: 12px;
			font-weight: 500;
		}

		.text {
			color: #7C7C7B;
			font-size: 10px;
		}
	}

}