.containerGalery{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 66%;
	// height: 80%;
	height: 400px;
}

.subContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.containerGaleryResponsive{
	display: none;
}

@media (max-width: 768px) {
	.containerGalery{
		display: none;
	}
	.containerGaleryResponsive{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		margin-top:80%;
	}

}