
.sectionOne{
  width: 100%;
  padding: 4%;
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  span {
    font-weight: bold;
    font-size: 18px;
  }

  .space{
    margin-bottom: 5px;
  }
   
     
}

.modalActive {
  opacity: 0.2;
  pointer-events: none;
}




@media (max-width: 768px) {
  .sectionOne{
    height: auto;
    text-align: center;
    padding: 5%;
    padding-bottom: 5%;
  }
}


