.subnavbar{
	width: 100%;
	// height: 81px;
	display: flex;
	flex-direction: row;
	padding: 16px 0px;
	
	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		padding: 0px;
		}
} 

.sublogo{
	width: 50%;
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
			width: 100%;
			background-color: black;
			justify-content: center;
		}
	
	.imageSublogo {
		margin-left: 10%;
		width: 106px;
	
		@media (max-width: 768px) {
			display: none;
		}
	}

		.logoResponsive {
			display: none;
	
			@media (max-width: 768px) {
				display: block;
				width: 35%;
			}
		}
}



.smallgalery{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;	

	@media (max-width: 768px) {
			width: 100%;
			background-color: black;
		}
}

.containergallery {
	width: 70%;
		display: flex;
		align-items: center;
		justify-content: space-around;

		@media (max-width: 768px) {
				width: 100%;
				justify-content: space-between;
				padding: 16px 0px;
			}
		
	img {
			// width: 80px;
			width: 95px;
			height: 53px;
			cursor: pointer;
			
		}
}